.leaflet-control-layers {
	box-shadow: 0 0px 0px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 0px;
    margin-left: -5px;
    padding: 0;
}

.leaflet-control-layers-separator {
    height: 0;
    border-top: 1px solid #000;
    margin: 0;
    width: 50%;
}
.leaflet-control-layers-expanded {
    padding: 0;
    color: #333;
    background: #fff;
}

.error-layer-my{
    z-index: 1000;
}

#side-menu {
	text-align: center;
}

#sidebar {
    position: relative;
}

#mymap { 
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

img {
    width: 300px;
}
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
.leaflet-container {
    font: inherit;
}

table {
    min-width: 100%;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:12px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:nth-child(odd) td {
    background:#EBEBEB;
}

tr.warning  td {
    background: orange;
}

td {
    background:#FFFFFF;
    padding:5px;
    text-align:left;
    vertical-align:middle;
    font-size:12px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

.mild-red {
    background-color: rgba(255, 118, 103, 0.71) !important;
}

.red {
    background-color: rgba(255, 38, 45, 0.71)!important;
}

.orange {
    background-color: rgba(255, 182, 69, 0.71)!important;
}

.notice-yellow{
    background-color: rgba(240, 255, 0, 0.31);
}

.white-text {
    color: #fff!important;
}

.circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.green {
    background-color: rgba(0, 255, 0, 0.71);
}

.center {
    text-align: center;
}

#load-circle{
    float:left;
}

#side-loading{
    margin-left: 30px;
}

#add-note input, textarea, label{
    width: 100%;
}

#add-note .button {
    width: 50%;
    float:left;
}

#add-note input#osm_name {
    width: 10%;
    float:left;
}

#side-layer2{
    display: none;
}

#side-bottom {
    position: absolute;
    bottom: 0;
}

#side-bottom img {
    width: 50px;
    height: 20px;
    bottom: -10px;
}

#side-bottom a {
    width: 50px;
    height: 20px;
    bottom: -10px;
}

.content {    
    width: 800px;  
    margin: auto;
}

.content-inside {
    text-align: center;
}

.image:hover {
    border-color: #f00;
    color: #f00;
}

a:visited {
    color: inherit;
}

.image-left {
    background-image: url('http://osm.fit.vutbr.cz/xsvana00/screen.png');
}

.menu {
    background-color:#d0e6f5;
    text-align:center;
    width:100%;
}
.menu > span {
    display:inline-block;
    margin:0 auto;
}
#nav {
    display:inline;
    text-align:left;
    position:relative;
    list-style-type:none;
}
#nav > li {
    float:left;
    padding:0;
    position:relative;
}
#nav > li > a {
    border:1px solid transparent;
    color:#4F4F4F;
    display:block;
    font-size:90%;
    padding:3px 10px;
    position:relative;
    text-decoration:none;
}
#nav > li > a:hover {
    background-color:#e4ecf4;
    border-color:#999
}
#nav > li.selected  > a {
    background-color:#FFFFFF;
    border-color:#999999 #999999 #FFFFFF;
    z-index:2;
}
#nav li div {
    position:relative;
}
#nav li div div {
    background-color:#FFFFFF;
    border:1px solid #999999;
    padding:12px 0;
    display:none;
    font-size:0.75em;
    margin:0;
    position:absolute;
    top:-1px;
    left: -50px;
    z-index:1;
    width:150px;
}
#nav li div div.wrp2 {
    width:380px;
}
#nav .sep {
    left:190px;
    border-left:1px solid #E3E3E3;
    bottom:0;
    height:auto;
    margin:15px 0;
    position:absolute;
    top:0;
    width:1px;
}
#nav li div ul {
    padding-left:10px;
    padding-right:10px;
    position:relative;
    width:130px;
    float:left;
    list-style-type:none;
}
#nav li div ul li {
    margin:0;
    padding:0;
}
#nav li div ul li h3 {
    border-bottom:1px solid #E3E3E3;
    color:#4F4F4F;
    font-weight:bold;
    margin:0 5px 4px;
    font-size:0.95em;
    padding-bottom:3px;
    padding-top:3px;
}
#nav li ul ul {
    padding:0 0 8px;
}
#nav li ul ul li {
    margin:0;
    padding:0;
}
#nav li ul ul li a {
    color:#0060A6;
    display:block;
    margin-bottom:1px;
    padding:3px 5px;
    text-decoration:none;
    font-size:0.9em;
}
#nav li ul ul li a:hover{
    background-color:#0060a6;
    color:#fff;
}
